.cfm-data-table table.dataTable thead th,
.cfm-data-table table.dataTable tbody td {
	padding: 18px;
	vertical-align: middle;
}
.cfm-data-table table.dataTable thead th {
	border-bottom: 0;
	color: #6b6b6b;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .9px;
	font-weight: 500;
}
.cfm-data-table table.dataTable tbody td {
	padding-top: 15px;
	padding-bottom: 15px;
}
.cfm-data-table .dataTables_wrapper .dataTables_filter {
	width: 100%;
}
.cfm-data-table .dataTables_wrapper .dataTables_filter input {
	font-size: 16px;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 10px 20px;
	box-shadow: none;
	border: 1px solid #2b2e33;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	height: auto;
	font-weight: normal;
	margin-bottom: 20px;
}
.cfm-data-table table.dataTable thead .cfm-th-num {
	background-position: 42px center;
}
.cfm-data-table table.dataTable thead .cfm-th-title {
	background-position: 94px center;
}
.cfm-data-table table.dataTable thead .cfm-th-date {
	
	background-position: 70px center;
}

.cfm-data-table table.dataTable tbody td.cfm-td-btn {
	padding-left: 5px;
	padding-right: 5px;
}
.cfm-data-table .dataTables_wrapper table.dataTable.no-footer {
	border-bottom: 0;
}
.cfm-data-table .dataTables_wrapper .dataTables_paginate .paginate_button,
.cfm-data-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
	position: relative;
	font-size: 16px;
	color: #545454 !important;
	padding: 4px 8px;
	border-radius: 4px;
	border: 0px;
}
.cfm-data-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
	color: #ccc !important;
}
.cfm-data-table .dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled):hover,
.cfm-data-table .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.cfm-data-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	z-index: 2;
	color: #fff !important;
	text-decoration: none;
	background: #545454 !important;
	color: #fff;
	font-weight: 300;
	border: 0;
}

.cfm-data-table .dataTables_wrapper .dataTables_info {
	font-size: 16px;
	margin: 10px 20px 20px 10px;
	font-weight: 500;
}
.cfm-data-table .dataTables_wrapper .dataTables_paginate {
	margin: 20px 0 20px 20px;
}

@media screen and (min-width: 783px) {
	.cfm-data-table.filter-enabled {
		margin-top: -78px;
	}
	#cfm-media-library .cfm-data-table.filter-enabled {
		margin-top: -43px;
	}
}

@media screen and (max-width: 782px) {
	.cfm-data-table .dataTables_wrapper .dataTables_filter {
		float: none;
	}
	.cfm-data-table .dataTables_wrapper .dataTables_filter label {
		display: block;
	}
	.cfm-data-table .dataTables_filter input[type="search"] {
		width: 100%;
		margin: 15px 0;
		box-sizing: border-box;
	}
	.cfm-data-table table.dataTable tbody td {
		padding: 15px 0;
	}
}
